@model IEnumerable<ProyectoVillancicos.Models.Villancico>
@{
    Layout = "_Layout";
}

<div class="menu">
    <a href="index.html" class="active">Todos</a>
    <a href="ingles.html">En inglés</a>
    <a href="index.html">En español</a>
</div>
<ul>
    <li><a href="villancico.html">Mi Burrito Sabanero</a></li>
 
</ul>
