<html>
<head>
    <meta charset="utf-8" />
    <title>MI PERFIL</title>
    <style>
        .center {
            text-align: center
        }
    </style>

    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>

    <h1 class="center">PERFIL DE USUARIO</h1>
    <h4 class="center" text-align:center>Nombre: Adán Daniel Aguilar Romero</h4>
    <h4 class="center">No. Control: 171G0213</h4>
    <h4 class="center">Materia: Programación Web</h4>
    <h4 class="center">Periodo: Agosto-Diciembre 2021</h4>

    <h5 class="center">FECHA: @DateTime.Now</h5>
</body>
</html>