<html>
<head>
    <meta charset="utf-8" />
    <title>MI PERFIL</title>
    <style>
        .center {
            text-align: center
        }
    </style>

    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>

    <h1 class="center">PERFIL DE USUARIO</h1>
    <center>
        <img src="https://cdn-icons-png.flaticon.com/128/1077/1077063.png" alt="" />
    </center>
    
    <h4 class="center" text-align:center>Adán Daniel Aguilar Romero</h4>
    <h4 class="center">ITESRC</h4>
    <h4 class="center">171G0213</h4>
    <h4 class="center">Programación Web</h4>
    <h4 class="center">Agosto-Diciembre 2021</h4>

    <h5 class="center">@DateTime.Now</h5>
</body>
</html>